body{
  background-image: url(../img/fondo.jpg);
  background-size: cover;
}
.contenido{
  margin-left: auto;
  margin-right: auto;
  background-color: #228edd;
  opacity: 0.6;
  margin-top: 20px;
  padding-top: 10px;

}
.titulo{
    border-right: solid 1.5px white;
}
.panel-izquierdo{
  background-color: #dbe4ea;
}
.panel-derecho{
  background-color: #f1d9e7;
}
.buscador{
  margin-top: 2em;
}
.btn-search,.btn-send{
  background-color: #f7229f;
}
.menu li{
  border: solid 1px #f7229f;
}
.history li {
  list-style: none;
}
.favoritos{
  margin-top: 2em;
}
.article-date{

}
.comentario-done{
  border: solid 1px #f7229f;
  border-radius: 5px;

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Dancing Script';
}
